/*
Колір заголовку #212121 
основний колір тексту #757575
білий колір #FFFFFF
синій колір #2196F3
колір футера адреса і телефона rgba(255, 255, 255, 0.6) 
колір фону 1 секції #2F303A 
*/
:root {
    --primary-text-color: #757575;
    --title-text-colot: #212121;
    --accent-text-color: #2196F3;

}
body {
background-color: #FFFFFF;
color:var(--title-text-colot);
font-family: Roboto, sans-serif;
}
.list {
    list-style: none;
}

/* site nav */
.logo-nav {
    color: var(--title-text-colot);
    font-family: Raleway, sans-serif;
}
.logo-nav > span {
    color: var(--accent-text-color);
} 
.site-nav .link {
    color: var(--title-text-colot);
}
.site-nav .link:hover, .site-nav .link:focus {
    color:var(--accent-text-color);
}
.auth-nav .link {
    color: var(--primary-text-color);
}
.auth-nav .link:hover, .auth-nav .link:focus {
    color:var(--accent-text-color);
}
/* section decision */
.decision {
    background-color: #2F303A;
}
.decision .title {
    color:#FFFFFF
}

/* section advantage */
.advantage .text {
    color:var(--primary-text-color);
}

/* section command */
.command {
    background-color: #F5F4FA;
}
.command-list .text {
    color: var(--primary-text-color);
}
/* footer */
.footer {
    background-color: #2F303A;
}
.footer-logo {
    color: #FFFFFF;
    font-family: Raleway, sans-serif;
}
.footer-logo > span {
    color:var(--accent-text-color);
}
.footer .text {
    color: #FFFFFF;
}
.footer-address .link {
    color: rgba(255, 255, 255, 0.6);
}
/*button*/
.button.primery {
    color: #FFFFFF;
    background-color:var(--accent-text-color);
    border-color: transparent;
}
.button.primery:hover {
    color: var(--title-text-colot);
    background-color: #F5F4FA;
    border-color: transparent;
}
.button {
    color: var(--title-text-colot);
    background-color: #F5F4FA;
    border-color: transparent;
}
    
/* example */
.example {
    background-color: #F5F5F5;
}